* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  font-family: Georgia; 
  height:100%;
  color: white;
  font-size: 17px;
}
#header {
  background: #0099cc;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 250px;
  text-align: center; 
}
#about {
  background: gray;
  justify-content: center;
  font-size: 15px;
  text-align: left;
  line-height: 1.3;
  padding: 30px;
}
#footer {
  background: #0099cc;
  height: 40px;
  justify-content: center;
  align-items: center;
}
#contact {
  flex-direction: column;
}

#item {

  padding: 0px;
  margin:20px;
    min-height: 350px;
    min-width: 250px;
  
    max-height: 550px;
    max-width: 450px;
  
  justify-content: center;
  align-items: center;
margin-bottom: 10px;
}

.grid {
  display: flex;
}
#nav {
  justify-content: flex-end;
  padding: 5px;
    background: #0099cc;
}
#nav-element {
  padding: 5px;
}
.logo {
height: 40px;
  width: 40px;
  align-itemns: center;
  justify-content: center;
}
.img {
 // border: solid black 1px;
  border-radius: 5%;
 max-height: 100%;
  text-align: center;
  max-width: 100%;

}
.img:hover {
 transform: scale(.90);
  transition: transform .25s ease;

  }

#container {
display: flex;
justify-content: space-around;
width: 100%;
padding: 50px;
}


#left{
  background: white;
    width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#right{
 background: white;
  width: 50%;
    display: flex;
  flex-direction: column;
  align-items: center;
}

#bio {
   justify-content: flex-start;
  align-items: flex-start;
  width: 33.3%;
    margin-left: 50px;
}
#contact {
  justify-content: flex-start;
  align-items: flex-start;
  width: 33.3%;
  margin-left: 50px;
}
#media {
  justify-content: flex-start;
  align-items: flex-start;
  width: 33.3%;
  margin-left: 50px;
}

/* text stuff */
h1 {
  font-size: 30px;
  font-weight: normal;
  padding: 5px;
}
h2 {
  font-size: 17px;
  font-weight: normal;
  
}
h4 {
  font-size: 25px;
  font-weight: normal;
  
}

h6 {
  font-size: 17px;
  padding: 4px;
  font-weight: normal;
  
}

a {
    color: inherit;
    text-decoration: none;
}
.logoN {
  float: right;
  padding: 10px;
}

#nav-element:hover {
  text-decoration: underline;
}

/*
@media only screen and (max-width: 800px) {
  #container {
    flex-direction: column;
    align-items: center; 
  }
  #item{
    padding: 10px;
  }
  #left {
 width: 80%;

  }
  
  #right {
width: 80%;
  }

  
  #about {
    flex-direction: column;
  }
  
#bio {

  width: 100%;
    margin-left: 5px;
}
  #contact {
    padding: 10px;
  width: 100%;
    margin-left: 0px;
}
    #media {
  width: 0%;
    margin-left: 5px;
}
  
  html, body {
    font-size: 70%;
  }

     h2, h3, h4, h5, h6{
    font-size: 70%;
  }
}
